extends layout

block content
  h1= title  
  p  Here is  #{title}
  img(src="images/photo-1.jpg", alt="Random Image", width="80")
  p CS 2
  div.image-container
  img.thumbnail(src="images/photo-2.png", alt="Flowers", width="80")
  p PUBG
  div.image-container
  img.thumbnail(src="images/photo-3.webp", alt="Weather", width="80")
  p Call of Duty
  div.image-container
  img.thumbnail(src="images/photo-4.jpeg", alt="Winter", width="80")
  p Fortnite
  div.image-container
