extends layout

block content
  h1= title  
  p  Here is  #{title}
  img(src="images/photo-1.jpeg", alt="Random Image", width="250")
  img.thumbnail(src="images/photo-2.avif", alt="Flowers", width="80")
  img.thumbnail(src="images/photo-3.jpg", alt="Weather", width="80")
  img.thumbnail(src="images/photo-4.jpeg", alt="Winter", width="80")
